body{
  background-color: green;
}
#columnchart_values{
  float: left !important;
  margin: auto;
}
#columnchart_values2{
  float: left !important;
  margin: auto;
}
#columnchart_values3{
  float: left !important;
  margin: auto;
}
.buttons {
  clear: both;
  float: left;
  margin-top: 100px;
}
.button1 {
  margin-left: 100px;
  float: left;
}
.button2 {
  float: left;
  margin-left: 100px;
}
